<div class="container">
  <h1>University projects <em>(2012 - 2018)</em></h1>

  <div class="info-blob">
    I've handpicked projects from my time at uni that resonate with me—<em>not from a technical perspective</em>—but mainly because of the final product and/or the academic research involved.
  </div>

  <div class="row" *ngFor="let project of projects; let index = index">
    <div (click)="toArticle(project.id)" class="image">
      <img [src]="'assets/images/thumbnails/' + project.id + '.jpg'">
    </div>
    <div class="description" (click)="toArticle(project.id)">
      <div>{{ project.subtitle }}</div>
      <div>{{ project.title }}</div>
      <div>Read more</div>
    </div>
  </div>

  <a target="_blank" href="https://spy.peterhallum.dk" class="who-is-spy">
    <div>🕵️</div>
    <div>
      <div>Who is the spy?</div>
      <div>> try my fun little game with your friends</div>
      <div>> a progressive web app—best played on mobile</div>
    </div>
  </a>
</div>
