@import "ph-colors";

@import "ph-blobs";

h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -.4px;
  color: $color-primary;
  margin-bottom: 36px;

  em {
    font-style: normal;
    color: $color-secondary;
    font-size: 18px;
    letter-spacing: 0;
  }
}

.container {
  width: 100%;
  max-width: 900px;
  padding: 64px 32px 256px;
  margin: 0 auto;
  box-sizing: border-box;

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 64px;
    width: 100%;

    .image {
      cursor: pointer;
      margin-right: 32px;

      img {
        width: 100%;
        border-radius: 3px;
      }
    }

    .description {
      align-self: flex-end;
      flex: 1 1 0;
      order: 2;
      font-size: 15px;
      cursor: pointer;
      margin: 18px 0;

      div {

        &:first-child {
          font-weight: 500;
          color: $color-secondary;
        }

        &:nth-child(2) {
          margin-top: 16px;
          margin-right: 15%;
          font-size: 22px;
          letter-spacing: -0.4px;
        }

        &:nth-child(3) {
          font-size: 16px;
          font-weight: 500;
          margin-top: 18px;
          color: $color-tertiary;
        }
      }

      &:hover {

        div:nth-child(3):after {
          margin-left: 6px;
          content: ' > >';
        }
      }
    }
  }
}

.who-is-spy {
  display: flex;
  align-items: center;
  margin-top: 96px;
  padding: 24px 48px 24px 32px;
  background-color: $color-success-background;
  color: $color-tertiary;
  border-radius: 25px;
  width: fit-content;

  > div:first-child {
    font-size: 36px;
    margin-right: 18px;
  }

  > div:last-child {

    > div:first-child {
      margin-bottom: 6px;
      font-size: 20px;
      font-weight: 500;
    }
  }

  &:hover {
    background-color: hsla(160deg, 100%, 40%, 0.15);
  }
}

@media screen and (max-width: 789px) {

  h1 {

    em {
      display: block;
    }
  }

  .container {
    padding: 64px 0 128px;

    h1, .description {
      padding-left: 16px;
      padding-right: 16px;
    }

    .row {
      flex-direction: column;

      .image {
        width: 100%;
        margin-bottom: 32px;
        margin-right: 0;

        img {
          border-radius: 0;
        }
      }

      .description {
        align-self: normal;
      }
    }
  }

  .who-is-spy {
    margin-top: 48px;
    border-radius: 0;
    padding-right: 16px;
    padding-left: 16px;
    border-left: 4px solid $color-success;
  }
}
