@import "ph-colors";

h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -.4px;
  color: $color-primary;
  margin-bottom: 36px;

  em {
    font-style: normal;
    color: $color-secondary;
    font-size: 18px;
    letter-spacing: 0;
  }
}

.info-blob {
  padding: 24px 32px;
  margin: 48px 0;
  background-color: $color-tertiary-muted;
  color: $color-tertiary;
  line-height: 2;
  border-radius: 0 8px 8px 0;
  max-width: 650px;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  border-left: 4px $color-primary solid;
}

.container {
  width: 100%;
  max-width: 900px;
  padding: 64px 32px 128px;
  margin: 0 auto;
  box-sizing: border-box;

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 64px;
    width: 100%;

    .image {
      cursor: pointer;
      margin-right: 32px;

      img {
        width: 100%;
        border-radius: 3px;
      }
    }

    .description {
      align-self: flex-end;
      flex: 1 1 0;
      order: 2;
      font-size: 15px;
      cursor: pointer;
      margin: 18px 0;

      div {

        &:first-child {
          font-weight: 500;
          color: $color-secondary;
        }

        &:nth-child(2) {
          margin-top: 16px;
          margin-right: 15%;
          font-size: 22px;
          letter-spacing: -0.4px;

          //&::after {
          //  margin: 18px 0;
          //  display: block;
          //  content: '';
          //  height: 4px;
          //  width: 160px;
          //  background: $color-primary;
          //}
        }

        &:nth-child(3) {
          font-size: 16px;
          font-weight: 500;
          margin-top: 18px;
          color: $color-tertiary;
        }
      }

      &:hover {

        div:nth-child(3):after {
          margin-left: 6px;
          content: ' > >';
          //color: $color;
        }
      }
    }
  }
}

@media screen and (max-width: 789px) {

  h1 {

    em {
      display: block;
    }
  }

  .container {
    padding: 64px 0 0;

    .info-blob {
      border-radius: 0;
    }

    h1, .description {
      padding-left: 16px;
      padding-right: 16px;
    }

    .row {
      flex-direction: column;

      .image {
        width: 100%;
        margin-bottom: 32px;
        margin-right: 0;

        img {
          border-radius: 0;
        }
      }

      .description {
        align-self: normal;
      }
    }
  }
}
