<div class="container">
  <div class="row">
    <div class="image">
      <img class="picture" src="assets/images/thumbnails/hearttale.jpg">
    </div>
    <div class="description">
      <div>Master's Thesis</div>
      <div (click)="toArticle()">Using Data Physicalization to Foster Storytelling Through Group Heart Rate Data</div>
    </div>
  </div>

  <div class="row">
    <div class="image">
      <img class="picture" src="assets/images/thumbnails/bachelor.jpg">
    </div>
    <div class="description">
      <div>Bachelor's Thesis</div>
      <div>Simplifying Time for Learning Disabled Children</div>
    </div>
  </div>

  <div class="row">
    <div class="image">
      <img class="picture" src="assets/images/thumbnails/squatty.jpg">
    </div>
    <div class="description">
      <div>Embedded Software</div>
      <div>SquattyBuddy: A Visual Guide for Squatting</div>
    </div>
  </div>
</div>
