<article>
  <p>In my bachelor's thesis I explore which design sensibilities are important to investigate when designing systems for children with learning disabilities in special needs classes. Tests were conducted on different design sensibilities in a special needs class, in order to investigate their effect.</p>

  <p>The final concept is a digital school schedule named <em>EasySchedule</em>, which is designed to keep children updated on the progression of their school day.</p>
  <q>The design aims to help the children stay focused and motivated throughout the day by visualizing their school schedule with image blocks that each represents a lecture</q>

  <figure>
    <img title="Visual of EasySchedule" src="assets/images/easy-schedule/bachelorprojectphoto1.png">
    <figcaption>Visual of EasySchedule</figcaption>
  </figure>

  <p>The blocks are sized accordingly to the length of the lecture. As the day advances, the schedule progresses horizontally showing when the lecture is done and what happens next. Using <em>EasySchedule</em>, the children can always see how far the day has progressed and when the next break is. Furthermore, we implemented a feature for the teachers to add notes to the blocks if they wish to add more information to the class. The teachers can also timeout a lecture, which will stop the schedule from progressing until it is resumed.</p>

  <p>The system we made is relatively simple which is a conscious design choice, as mentioned by a special education teacher; it was a key factor to ensure that the system remained unobtrusive.</p>

  <h1>Design process</h1>

  <p>Based on the findings of our empirical research, we identified that creating structure had to become one of the more significant areas of focus in the design process. Daily pictogram of the school day used at both school we visited, was the initial inspiration for the brainstorming process. We considered making an electronic pictogram, but struggled to identify the value added to the classroom by embedding it with technology.</p>

  <figure>
    <img title="The classroom setup" src="assets/images/easy-schedule/bachelor_classroom.jpg">
    <figcaption>The classroom setup</figcaption>
  </figure>

  <p>Another finding from our empirical research and related work showed that the children had difficulty sensing time and this was one of the main challenges for staying focused during class. From related work we learned that children with ADHD sense time a lot slower; children without ADHD intuitively have a better idea of how long five minutes is as compared to children with ADHD. In the classroom setting, this leads to stress and confusion.</p>

  <p>We also investigated visual representations of time in order to design a digital system that can help the children understand how far they have progressed in the current school day. We came up with the idea of creating a visual representation of the daily schedule, to replace the analog clock as well as supporting the already proven methods of pictograms used in the schools.</p>

  <q>The concept was implemented in a special needs class for an entire school day twice. In an iterative design process, <em>EasySchedule</em> was changed up for every session based on the feedback provided</q>
  <figure>
    <div class="video-wrapper">
      <iframe width="1020" height="574" src="https://www.youtube.com/embed/qhGwa4mVzgU?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <figcaption>Video presentation</figcaption>
  </figure>
</article>
