@import "ph-colors";

$header-height: 65px;

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $color-background;

  &.mobile {
    visibility: hidden;
  }
}

.progress {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 4px;
  background-color: $color-secondary;
  z-index: 100;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  height: $header-height;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 32px;
  align-items: center;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    white-space: nowrap;

    .logo {
      font-size: 24px;
      margin-right: 48px;
      font-weight: 500;
      letter-spacing: -.4px;
      color: $color-primary;
      outline: none;
      cursor: pointer;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style-type: none;
      padding-inline-start: 0;
      height: 100%;

      li {
        font-weight: 500;
        padding: 10px;
        margin-right: 8px;
        outline:none;
        cursor: pointer;

        &.active::after {
          margin-top: 4px;
          margin-bottom: -4px;
          display: block;
          content: '';
          height: 3px;
          width: calc(100% + 8px);
          background-color: $color-secondary;
        }
      }
    }
  }

  .right {

    em {
      margin: 0 6px;
      font-size: 18px;
    }

    .burger {
      height: 32px;
      padding: 6px;
      cursor: pointer;
    }
  }
}

.content {
  margin-top: $header-height;
}

@media screen and (max-width: 789px) {

  .header-wrapper {

    &.mobile {
      visibility: visible;
    }

    &.desktop {
      visibility: hidden;
    }
  }

  header {
    padding: 0 16px;

    .left {

      .logo {
        margin-right: 12px;
      }
    }
  }
}
