$color-background: hsl(0deg, 0%, 100%);
$color-text: hsl(222deg, 22%, 5%);
$color-primary: hsl(245deg, 100%, 60%);
$color-secondary: hsl(333deg, 100%, 45%);
$color-tertiary: hsl(255deg, 85%, 30%);
$color-muted: hsl(210deg, 55%, 92%);
