@import "ph-colors";

.blob {
  padding: 24px 32px;
  margin: 48px 0;
  line-height: 2;
  border-radius: 0 8px 8px 0;
  max-width: 650px;
  font-size: 17px;
  font-weight: 500;
}

.info-blob {
  background-color: $color-tertiary-muted;
  color: $color-tertiary;
  border-left: 4px $color-primary solid;
  @extend .blob;
}

.warning-blob {
  background-color: $color-warning-background;
  color: $color-warning;
  border-left: 4px $color-warning solid;
  @extend .blob;
}

@media screen and (max-width: 789px) {

  .blob {
    border-radius: 0;
  }
}
