<article>
  <p>For my master’s thesis, I've looked at data physicalizations (i.e. a physical artifact whose geometry or material properties encode data) and personal tracking. Through extensive research, I (along with my thesis group) found interest in looking at group data of family members and creating physicalizations based on the collected data.</p>

  <q>In the end, we created <em>Heart-Tale</em> which visualizes the heart rate of each family member when participating in combined social activities</q>

  <p>The purpose of <em>Heart-Tale</em> is to foster social interaction and shared reflection in families. If you are interested in the findings of the thesis, please have a look at the thesis which is available at the bottom of the page.</p>

  <figure>
    <div class="figure-multi">
      <img title="A physicalization" src="assets/images/heart-tale/playground_physicalization.jpg">
      <img title="The dock" src="assets/images/heart-tale/dock_alone.jpg">
    </div>
    <figcaption><em nz-icon nzType="camera" nzTheme="fill"></em>  A physicalization and the dock</figcaption>
  </figure>

  <h1>Concept</h1>
  <p><em>Heart-Tale</em> consist of two parts, a dock and the recorded activities as laser cut physicalizations. The physicalizations are made of colored see-through acrylics and represents the heart rate of each family member during an activity which they tracked using activity trackers (e.g. a Fitbit). The physicalizations can be slid into the dock for further exploration. Here the family can see their annotations on a display (either photos, their own comments or fun facts about their heart rate) by scrolling through the timeline using their finger.</p>
  <p>As they scroll through the timeline a light illuminates the current spot on the laser cut graphs - allowing users to see the correlation between their graph and the annotations. A video of the interaction can be seen at the bottom of the page. <em>Heart-Tale</em> was tested in two families for 17 days, where they would track new activities which we would construct for them afterwards.</p>

  <h1>Process</h1>
  <p>The thesis consisted of three studies:</p>
  <ol>
    <li>formative interviews with families</li>
    <li>a comparative study of physicalizations</li>
    <li>a take-home study in the homes of families</li>
  </ol>
  <p><em>Heart-Tale</em> was developed for the last study, however before we could develop the final design proposal, the comparative study served as a way to find design considerations for its design. Here we tested three different low fidelity prototypes (seen below) which all had different qualities (and problems) to realize which design elements were most important.</p>

  <figure>
    <div class="figure-multi">
      <img title="Laser cut prototype" src="assets/images/heart-tale/prot2_1.jpg">
      <img title="Laser cut prototype" src="assets/images/heart-tale/prot2_2.jpg">
    </div>
    <figcaption><em nz-icon nzType="camera" nzTheme="fill"></em> Laser cut prototype</figcaption>
  </figure>

  <figure>
    <img title="Annotated prototype" src="assets/images/heart-tale/prot1.jpg">
    <figcaption><em nz-icon nzType="camera" nzTheme="fill"></em> Annotated prototype</figcaption>
  </figure>

  <figure>
    <img title="Interactive prototype" src="assets/images/heart-tale/prot3_moving.jpg">
    <figcaption><em nz-icon nzType="camera" nzTheme="fill"></em> Interactive prototype</figcaption>
  </figure>

  <figure>
    <div class="video-wrapper">
      <iframe width="1020" height="574" src="https://www.youtube.com/embed/bHppVfFjCaI?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <figcaption><em nz-icon nzType="video-camera" nzTheme="fill"></em> Video presentation</figcaption>
  </figure>
</article>
