@import "ph-colors";

.article-hero {
  margin: 0 auto;
  padding-top: 64px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1020px;
  text-align: center;

  > div {
    padding: 0 32px;
  }

  .subtitle {
    color: $color-secondary;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .title {
    font-size: 32px;
    letter-spacing: -0.4px;

    &:after {
      margin: 32px auto;
      display: block;
      content: '';
      height: 4px;
      width: 160px;
      background: $color-primary;
    }
  }

  img {
    width: 100%;
    margin-top: 32px;
    object-fit: cover;
    min-height: 35vh;
  }
}

h1 {
  font-size: 24px;
  font-weight: 500;
  color: $color-primary;

}

article {
  margin-top: 75px;
  font-size: 19px;

  em {
    font-style: normal;
  }

  h1, p, q, ol {
    max-width: 650px;
    margin: 0 auto 32px;
    padding: 0 16px 0;
  }

  h1 {
    margin: 96px auto 12px;
  }

  p {
    line-height: 2;

    .highlight {
      font-weight: 500;
    }
  }

  q {
    position: relative;
    display: block;
    quotes: none;
    margin: 32px auto;
    padding: 24px 32px;
    background: $color-muted;
    color: $color-tertiary;
    font-weight: 500;
    line-height: 2;
    border-radius: 8px;

      .highlight {
        color: $color-secondary;
      }

    &:before {
      content: '';
      position: absolute;
      background: $color-background url('src/assets/svg/quote.svg') no-repeat center;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      padding: 8px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      text-align: center;
    }
  }

  ol {

    li {
      margin-bottom: 18px;
      padding-left: 18px;

      &::marker {
        color: $color-secondary;
      }
    }
  }

  figure {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto !important;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    img {
      width: 100%;
    }

    .figure-multi {
      display: flex;
      flex-direction: row;
      width: 100%;

      img {
        width: 100%;
        min-width: 0;
      }
    }

    .video-wrapper {
      position: relative;
      padding-bottom: 52.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }
    .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    figcaption {
      text-align: center;
      font-size: 18px;
      line-height: 1;
      color: hsl(225deg, 12%, 40%);
      margin: 18px 0 64px;
    }
  }
}

.wave {
  display: block;
  margin: -48px 0 -1px 0;
}

.assets-wrapper {
  padding: 64px 0 128px;
  width: 100%;
  background-color: $color-muted;

  .assets {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;

    h1 {
      color: $color-secondary;
    }

    a {
      font-weight: 500;
      color: $color-primary;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}

.team-wrapper {
  padding: 64px 0 128px;
  width: 100%;
  background-color: $color-muted;

  .team {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;

    h1 {
      color: $color-secondary;
    }

    a {
      color: $color-primary;

      &:hover {
        color: $color-secondary;
      }
    }
  }

  ul {
    margin-top: 24px;
    padding-inline-start: 0;

    li {
      list-style-type: none;
      margin-bottom: 24px;
      font-weight: 500;
      color: $color-primary;
    }
  }
}

@media screen and (max-width: 789px) {

  .article-hero {
    padding-top: 32px;

    > div {
      padding: 0 16px;
    }
  }

  article {

    ol {
      padding-left: 42px;
    }

    q {
      margin: 32px 0 32px 16px;
      border-radius: 8px 0 0 8px;
    }
  }

  .team-wrapper {

    .team {
      grid-template-columns: 1fr;
    }
  }

  .assets-wrapper {

    .assets {
      grid-template-columns: 1fr;
    }
  }
}
