<div class="article-hero">
  <div class="subtitle">{{ project.subtitle }}</div>
  <div class="title">{{ project.title }}</div>
  <div class="date">{{ project.date | formatDate }}</div>
  <img [src]="getHeaderPath(project)">
</div>

<ng-template phArticle></ng-template>

<img class="wave" src="assets/svg/wave.svg">

<div class="extra-wrapper" *ngIf="project.assets.length > 0">
  <div class="extra">
    <h1>Investigate</h1>
    <ul>
      <li *ngFor="let asset of project.assets">
        <a  target="_blank" [href]="asset.ref">{{ asset.title }}</a>
      </li>
    </ul>
  </div>
</div>

<div class="extra-wrapper" *ngIf="project.team.length > 0">
  <div class="extra">
    <h1>In collaboration with</h1>
    <ul>
      <li *ngFor="let teamMember of project.team">
        <a target="_blank" [href]="teamMember.linkedIn">{{ teamMember.name }}</a>
      </li>
    </ul>
  </div>
</div>
