@import "ph-colors";

.article-hero {
  margin: 0 auto;
  padding-top: 64px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1020px;
  text-align: center;

  > div {
    padding: 0 32px;
  }

  .subtitle {
    color: $color-secondary;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .title {
    font-size: 32px;
    letter-spacing: -0.4px;

    &:after {
      margin: 32px auto;
      display: block;
      content: '';
      height: 4px;
      width: 160px;
      background: $color-primary;
    }
  }

  img {
    width: 100%;
    margin-top: 32px;
    object-fit: cover;
    min-height: 35vh;
  }
}

h1 {
  font-size: 24px;
  font-weight: 500;
  color: $color-primary;

}

.wave {
  display: block;
  margin: -48px 0 -1px 0;
}

.extra-wrapper {
  padding: 64px 0 128px;
  width: 100%;
  background-color: $color-muted;

  .extra {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;

    h1 {
      color: $color-secondary;

      &:after {
        content: ' ➜';
      }
    }

    a {
      color: $color-tertiary;

      &:hover {
        color: $color-secondary;
      }
    }
  }

  ul {
    margin: 0;
    padding-inline-start: 0;

    li {
      list-style-type: none;
      margin: 24px 0;
      font-weight: 500;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 789px) {

  .article-hero {
    padding-top: 32px;

    > div {
      padding: 0 16px;
    }
  }

  .extra-wrapper {

    .extra {
      grid-template-columns: 1fr;

      h1 {

        &:after {
          content: '';
        }
      }
    }
  }
}
