<article>
  <div class="warning-blob">
    For this project, I signed a <em>Non-Disclosure Agreement</em> with LEGO. It has since expired, but out of respect for the company and our collaboration, I'm deliberately selective about which information I chose to disclose.
  </div>

  <p>In collaboration with LEGO, we were given the objective of brainstorming new ideas and developing proof-of-concepts for rethinking ways for children to play and create using LEGO bricks.</p>

  <p>In this context, I chose to experiment with projecting media onto LEGO bricks to investigate which qualities it might encompass.</p>

  <!-- TODO more about projection mapping -->
  <h1>Projection Mapping</h1>

  <p>Working with projection mapping is by no means an easy feat.</p>

  <ol>
    <li>The environment needs to be ideal in terms of lighting and placement of equipment—you also need to consider how to deal with occlusion</li>
    <li>The <em>intrinsic</em> and <em>extrinsic</em> parameters of the camera and projector needs to be calibrated carefully (recalibration has to be done every time the set up changes the slightest)</li>
    <li>You are severely limited by your hardware—which is rather costly in the first place</li>
  </ol>

  <p>In the end, we successfully created a functional prototype which could display children's drawings onto a brick within a limited field of view (restricted by the camera and/or projector).</p>

  <p>Below are some visual material from early prototyping sessions:</p>

  <figure class="three-quarter">
    <img title="Super early set up of a camera and projector" src="assets/images/draw-and-build/projection.jpg">
    <figcaption><em nz-icon nzType="camera" nzTheme="fill"></em> Super early set up of a camera and projector</figcaption>
  </figure>

  <q>The color-code at the top of a tracker-brick is used for identification and tracking in three-dimensional space. We then know which drawing should be projects onto the brick, the size of the projection and its location.</q>

  <p>Afterwards, we still had to implement an application to dynamically save and select media (i.e. children's drawings) to be projected. Given the tight deadlines of a university project and the difficulties of bringing projection mapping to exhibitions and after-school centres we had to pivot the concept.</p>

  <figure>
    <div class="video-wrapper">
      <iframe src='https://gfycat.com/ifr/PoliteDependentCarpenterant' frameborder='0' scrolling='no' allowfullscreen width='100%' height='404'></iframe>
    </div>
    <figcaption><em nz-icon nzType="video-camera" nzTheme="fill"></em> Super early prototype that tracks LEGO and projects onto it</figcaption>
  </figure>

  <h1>Draw and Build</h1>

  <p>The final—less ambitious—concept had a reduced scope while still trying to solve the same research question:</p>

  <q>What are the benefits of integrating drawing and brick building into a single creative activity?</q>

  <p>To solve this research question, <em>Draw and Build</em> was created. Using a camera and projector embedded into a LEGO box, children's paintings could be projected directly onto a 3D construction canvas in real time.</p>

  <p>Our research highlighted that integrating drawing with brick building enhances the personalization of children’s creations.</p>

  <figure>
    <div class="video-wrapper">
      <iframe width="1020" height="574" src="https://www.youtube.com/embed/qFuE4pv_jdc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <figcaption><em nz-icon nzType="video-camera" nzTheme="fill"></em> Video presentation</figcaption>
  </figure>

</article>
