<div class="container">

  <div class="welcome-screen">

    <div class="intro">
      <div class="description">
        <div>I am a—</div>
        <h1>software developer</h1>
        <h1>product enthusiast</h1>
        <div>combining a deep set of technical skills with a passion for creating products that bring value to the user and the world 🌍.</div>
      </div>
      <div class="portrait">
        <div class="portrait-content">
          <svg viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <clipPath id="shape">
                <path fill="none" d="M66.6,0.5C66.6,28.7,33.3,57.5,4.7,57.5C-23.9,57.5,-47.9,28.7,-47.9,0.5C-47.9,-27.8,-23.9,-55.5,4.7,-55.5C33.3,-55.5,66.6,-27.8,66.6,0.5Z" transform="translate(50 60)" />
              </clipPath>
            </defs>
            <image width="100%" height="100%" clip-path="url(#shape)" xlink:href="assets/images/portrait.jpg" ></image>
          </svg>
        </div>
      </div>
    </div>

  </div>
  <div class="experience">
    <div class="work">
      <h1>Work</h1>
      <div class="timeline">
        <div class="job">
          <img src="assets/images/logos/qima.png">
          <div class="position">Software developer</div>
          <div class="duration">July 2019 - Current</div>
          <div class="location">Shenzhen, China</div>
        </div>
        <div class="job">
          <img src="assets/images/logos/netcompany.png">
          <div class="position">IT-consultant</div>
          <div class="duration">September 2018 - June 2019</div>
          <div class="location">Aarhus, Denmark</div>
        </div>
        <div class="job">
          <div class="logo">BizDoc ApS</div>
          <div class="position">Back-end web developer</div>
          <div class="duration">December 2013 - December 2014</div>
          <div class="location">Aarhus, Denmark</div>
        </div>
      </div>
    </div>
    <div class="education">
      <h1>Education</h1>
      <div class="timeline">
        <div class="school">
          <div class="institution">
            <img src="assets/images/logos/au.png">
            <span>Aarhus Universitet</span>
          </div>
          <div class="position">M.Sc, IT-Product Development</div>
          <div class="duration">September 2016 - June 2018</div>
          <div class="location">Aarhus, Denmark</div>
        </div>
        <div class="school">
          <div class="institution">
            <img src="assets/images/logos/uq.png">
            <span>University of Queensland</span>
          </div>
          <div class="position">Master's Exchange Programme</div>
          <div class="duration">July 2017 - December 2017</div>
          <div class="location">Brisbane, Australia</div>
        </div>
        <div class="school">
          <div class="institution">
            <img src="assets/images/logos/eia.png">
            <span>EIA & UC Berkeley</span>
          </div>
          <div class="position">European Innovation Academy</div>
          <div class="duration">Summer Break 2016</div>
          <div class="location">Nice, France</div>
        </div>
        <div class="school">
          <div class="institution">
            <img src="assets/images/logos/au.png">
            <span>Aarhus Universitet</span>
          </div>
          <div class="position">B.Sc, Information Technology</div>
          <div class="duration">September 2012 - June 2015</div>
          <div class="location">Aarhus, Denmark</div>
        </div>
      </div>
    </div>
  </div>
</div>
